<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.batchlabs.android.batchstore.core">

    <application>
        <activity
            android:name="com.batchlabs.android.batchstore.ShopActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.batchlabs.android.batchstore.ui.articles.ArticleDetailsActivity"
            android:label="@string/title_activity_article_details"
            android:parentActivityName="com.batchlabs.android.batchstore.ShopActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.batchlabs.android.batchstore.ShopActivity" />
        </activity>

        <activity
            android:name="com.batchlabs.android.batchstore.ui.login.LoginCredentialsActivity"
            android:label="@string/title_activity_login_landing"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize|keyboardHidden"/>

        <activity
            android:name="com.batchlabs.android.batchstore.ui.login.LoginLandingActivity"
            android:label="@string/title_activity_login_credentials"
            android:parentActivityName="com.batchlabs.android.batchstore.ui.login.LoginCredentialsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.batchlabs.android.batchstore.ui.login.LoginCredentialsActivity" />
        </activity>
    </application>
</manifest>
